<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="aibRetrieve.Properties.Settings.budgetCS" connectionString="Data Source=woad.arvixe.com;Initial Catalog=master;Persist Security Info=True;User ID=budget;Password=Ireland1"
            providerName="System.Data.SqlClient" />
        <add name="aibRetrieve.Properties.Settings.budgetMain" connectionString="Data Source=woad.arvixe.com;Initial Catalog=budget;Persist Security Info=True;User ID=budget;Password=Ireland1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>